# Archivos de respaldo de Ren'Py
*.bak
*.new
*~
*.rpy~
*.rpym~

# Archivos compilados de Python/Ren'Py
*.rpyc
*.rpymc

# Archivos de caché de Ren'Py
/cache/

# Archivos de guardado del juego
/saves/

# Archivos generados por la distribución (builds)
# No subas el juego compilado al repositorio del código fuente.
/*.exe
/*.app/
/lib/
/renpy/
!/renpy/common/
/update/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
